/* zeroing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #ffd23f, #fa9017);
    color: #fff;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}
form button {
    color: #fa9017;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: #fa9017;
    color: #fff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 30%;
    list-style: none;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    background: #fff;
    color: #000;
}
.todo li {
    flex: 1;
}
.trash-btn,
.complete-btn {
    background: #fa9017;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: #89d60c;
}
.todo-item {
    padding: 0 0.5rem;
}

/* preventing clicking on the img */
.fa-trash,
.fa-check {
    pointer-events: none;
}